# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
Debug/
Release/

# Rider
.idea/

# OS files
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/

# Others
*.log
output/
